body{
  background: white;
}

.welcome-screen{
  margin-top: 40px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Bahnschrift", sans-serif, serif;
}

.welcome-screen{
  height:100%;
  box-sizing: border-box;
  background: url(../img/code.jpg);
  background-size: cover;
}

.welcome-text{
  padding: 20px;
}

.welcome-text h1{
  display: block;
  margin: 0 auto;
  font-size: 60px;
}

.welcome-text p{
  display: block;
  margin: 0 auto;
  font-size: 36px;
}

.photo-face{
  margin-top: 20px;
  background-size: cover;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.photo-face img{
  border: 2px gray solid;
  border-radius: 360px;
  width: 15%;
}

.text-bio h1{
  width: 500px;
  height: 200px;
  padding-bottom: 50px;
  display: block;
  padding-top: 10px;
  margin: 0 auto;
  font-size: 24px;
  color: black;
  font-family: "Bahnschrift", sans-serif, serif;
  text-align: center;
}

.welcome-screen img{
  width: 5%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#txt{
  font-family: "Bahnschrift", sans-serif, serif;
  font-size: 36px;
}

.text-time{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Bahnschrift", sans-serif, serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.yourtime{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: block;
  margin: 0 auto;
  font-size: 36px;
  font-family: "Bahnschrift", sans-serif, serif;
}

.text-time span{
  padding-top: 20px;
  font-size: 18px;
}

.top-bar{
  font-family: "Bahnschrift", sans-serif, serif;
  color: white;
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.top-bar a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.top-bar a:hover{
  background: gray;
}

.top-bar p{
  display: inline-block;
  padding-left: 10px;
}

.arrow{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.smm{
  padding: 20px 20px;
}

.hobbies{
  float: left;
  margin: 10px;
}
.hobbies img{
  height: 100px;
  width: 100px;
}

.hobbies p{
  text-align: center;
}

.hobbies-box{
  padding: 10px;
  display: block;
  margin: 0 auto;
  background: gray;
  text-align: center;
  width: 750px;
  height: 230px;
  font-family: "Bahnschrift", sans-serif, serif;
}
